docker
logs
*.run
mapguide/
fdo/
sdks/*.tar.gz
sdks/*.zip
sdks/oracle
sdks/mysql*
sdks/mariadb*
sdks/postgresql*
sdks/zlib*
staging/*
artifacts/Debug/*
artifacts/Release/*
packages/*.mgp
!artifacts/Debug/README.md
!artifacts/Release/README.md
caches/*
!caches/README.md
fdo_version.sh
mapguide_version.sh
build_area/*
test/data/*.mgp
test/results/**/*.xml
test/results/**/*.html
test/results/**/*.json
test/results/**/*.png
test/results/**/*.txt