docker
logs
*.run
mapguide/
fdo/
sdks/oracle
sdks/mysql*
sdks/postgresql*
staging/*
artifacts/*
packages/*.mgp
!artifacts/README.md
caches/*
!caches/README.md
fdo_version.sh
mapguide_version.sh
build_area/*